<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">

<head th:include="/common :: header('用户管理',true, false)"></head>

<body>
<div id="wrapper">

    <!--/. NAV TOP  -->
    <div th:include="/common :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/common :: navbar" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div id="userPage">
            <div class="header" v-if="pageMode === 'create' || pageMode === 'view'">
                <h1 class="page-header">
                    先锋系统管理
                    <small v-if="pageMode === 'view'">用户管理</small>
                    <small v-if="pageMode === 'create'">创建用户</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index">主页</a></li>
                    <li><a href="#">系统管理</a></li>
                    <li class="active" v-if="pageMode === 'view'">用户管理</li>
                    <li class="active" v-if="pageMode === 'create'">创建用户</li>
                </ol>
            </div>

            <div class="header" v-if="pageMode === 'profile'">
                <h1 class="page-header">
                    先锋OA系统
                    <small>个人中心</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index">主页</a></li>
                    <li class="active">个人中心</a></li>
                </ol>
            </div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12" v-show="table && pageMode === 'view'">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="card-title">
                                    <div class="title">系统用户列表</div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="userTable"></table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" v-if="detail || (pageMode === 'create' || pageMode === 'profile')">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button v-if="pageMode === 'view'" class="btn btn-primary btn-info" type="button"
                                        v-on:click="showUserTable" onclick="return false;">
                                    <i class="fa fa-arrow-left"></i> 返回列表
                                </button>
                                用户信息详情
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" id="editUserForm">
                                    <div class="col-md-7 col-sm-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                账户信息
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="year-semester"
                                                               class="col-sm-12 control-label">*注册学期:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="year-semester" class="form-control" required disabled
                                                               v-model="user.info"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="userId"
                                                               class="col-sm-12 control-label">*用户ID:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="userId" class="form-control" required disabled
                                                               v-model="user.userId"/>
                                                    </div>
                                                </div>
                                                <div class="form-group"
                                                     v-if="pageMode==='view' || pageMode === 'profile'">
                                                    <div class="col-sm-2">
                                                        <label for="username"
                                                               class="col-sm-12 control-label">*用户名:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="username" class="form-control" minlength="4"
                                                               maxlength="20" required v-model="user.username"/>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="lastName"
                                                               class="col-sm-12 control-label">*姓:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="lastName" class="form-control" minlength="1"
                                                               maxlength="20" required v-model="user.lastName"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="firstName"
                                                               class="col-sm-12 control-label">*名:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="firstName" class="form-control" minlength="1"
                                                               maxlength="20" required v-model="user.firstName"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="birthday"
                                                               class="col-sm-12 control-label">*生日:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="birthday" class="form-control" minlength="10"
                                                               maxlength="10" required v-model="user.birthday"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="email" class="col-sm-12 control-label">*邮箱:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="email" type="email" class="form-control" required
                                                               v-model="user.email"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="tel" class="col-sm-12 control-label">*电话号:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="tel" isDigits="true" class="form-control"
                                                               minlength="8"
                                                               maxlength="11" required v-model="user.tel"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="dorm" class="col-sm-12 control-label">宿舍号:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="dorm" class="form-control" v-model="user.dorm"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="qq" class="col-sm-12 control-label">QQ号:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="qq" isDigits="true" class="form-control"
                                                               minlength="8"
                                                               maxlength="20" v-model="user.qq"/>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="weChat" class="col-sm-12 control-label">微信号:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="weChat" class="form-control" v-model="user.weChat"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="qq" class="col-sm-12 control-label">*性别:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="radio3 radio-check radio-success radio-inline">
                                                            <input type="radio" id="male" name="gender" value="male"
                                                                   v-model="user.gender">
                                                            <label for="male">男</label>
                                                        </div>
                                                        <div class="radio3 radio-check radio-success radio-inline">
                                                            <input type="radio" id="female" name="gender" value="female"
                                                                   v-model="user.gender">
                                                            <label for="female">女</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="address"
                                                               class="col-sm-12 control-label">家庭住址:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="address" class="form-control"
                                                               v-model="user.address"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                注意：*为必填项，其余选填。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-4">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                用户头像
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <input type="file" id="profile" accept="image/*"
                                                               onchange="previewImg()">
                                                        <p>上传头像预览：</p>
                                                        <img id="preview" style="width: 230px;height: 230px">
                                                        <button style="width: 100%; margin-top: 20px"
                                                                class="btn btn-primary btn-info"
                                                                onclick="profileUpload()">
                                                            上传
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6" v-if="showProfile">
                                                        <p>当前头像：</p>
                                                        <img id="current" v-bind:src="user.profile.path"
                                                             style="width: 230px;height: 230px" class="profile">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                注意：图片大小不要超过10M。
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-4" v-if="pageMode==='create' || pageMode ==='view'">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                账户属性
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label class="col-sm-12 control-label">*角色:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                            <input type="checkbox" id="student1" name="type" value="s"
                                                                   v-model="userType">
                                                            <label for="student1">学生</label>
                                                        </div>
                                                        <div class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                            <input type="checkbox" id="faculty1" name="type" value="f"
                                                                   v-model="userType">
                                                            <label for="faculty1">教师</label>
                                                        </div>
                                                        <div class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                            <input type="checkbox" id="admin1" name="type" value="a"
                                                                   v-model="userType">
                                                            <label for="admin1">系统管理员</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="col-sm-12 control-label">*账户启停:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="radio3 radio-check radio-success radio-inline">
                                                            <input type="radio" id="active" name="status" value="1"
                                                                   v-model="user.status">
                                                            <label for="active">启用</label>
                                                        </div>
                                                        <div class="radio3 radio-check radio-success radio-inline">
                                                            <input type="radio" id="inactive" name="status" value="0"
                                                                   v-model="user.status">
                                                            <label for="inactive">禁用</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label class="col-sm-12 control-label">*高级权限:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                            <input type="checkbox" id="teach" value="2"
                                                                   v-model="userRole">
                                                            <label for="teach">教务</label>
                                                        </div>
                                                        <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                            <input type="checkbox" id="system" value="4"
                                                                   v-model="userRole">
                                                            <label for="system">系统</label>
                                                        </div>
                                                        <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                            <input type="checkbox" id="logistic" value="3"
                                                                   v-model="userRole">
                                                            <label for="logistic">后勤</label>
                                                        </div>
                                                        <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                            <input type="checkbox" id="admin" value="1"
                                                                   v-model="userRole">
                                                            <label for="admin" color="red">超级管理员</label>
                                                        </div>
                                                    </div>

                                                    <div v-if="pageMode === 'view'">
                                                        <div class="col-sm-2">
                                                            <label class="col-sm-12 control-label">密码重置(不选不会重置):</label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round checkbox-light">
                                                                <input type="checkbox" id="reset" name="reset"
                                                                       v-model="passwordReset">
                                                                <label for="reset">重置</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" v-if="pageMode === 'create'">
                                                    <div class="col-sm-2">
                                                        <label class="col-sm-12 control-label">密码:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" v-model="user.password">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                注意：1.此处为角色，为用户的属性，非权限。2.用户禁用后将无法登录，但数据不会删除。3.密码重置后，用户登录将要求修改密码。
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                更多信息
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group" v-if="!showDocument">
                                                    <div class="col-sm-2">
                                                        <label for="password"
                                                               class="col-sm-12 control-label">上传个人信息文件:</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="file" id="document">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button style="width: 100%" class="btn btn-primary btn-info"
                                                                onclick="documentUpload()">
                                                            上传
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group" v-if="showDocument">
                                                    <div class="col-sm-2">
                                                        <label class="col-sm-12 control-label">个人信息文件:</label>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-top: 10px;">
                                                        下载文件： <a onclick="documentDownload()" style="cursor: pointer;"
                                                                 class="control-label">{{user.userInfo.name}}</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button style="width: 100%" class="btn btn-primary btn-danger"
                                                                v-on:click="showDocument = false">
                                                            替换
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="password"
                                                               class="col-sm-12 control-label">备注信息:</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <textarea style="resize: none;" class="form-control" rows="3"
                                                                  v-model="user.comment"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="password"
                                                               class="col-sm-12 control-label">*请确认上述信息正确无误:</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="checkbox3 checkbox-danger checkbox-inline checkbox-check  checkbox-circle checkbox-light">
                                                            <input type="checkbox" id="yes" name="confirm" required>
                                                            <label for="yes">确认</label>
                                                        </div>
                                                    </div>
                                                    <div v-if="pageMode==='create' || pageMode==='view'">
                                                        <div class="col-sm-2">
                                                            <label for="password"
                                                                   class="col-sm-12 control-label">*管理员操作密码:</label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input type="password" id="password" class="form-control"
                                                                   minlength="6" maxlength="16" checkOpPwd="true"
                                                                   required/>
                                                        </div>
                                                    </div>
                                                    <button style="width:150px;" class="btn btn-primary btn-danger"
                                                            v-if="pageMode !== 'create'" v-on:click="update">
                                                        更新
                                                    </button>
                                                    <button style="width:150px;" class="btn btn-primary btn-danger"
                                                            v-if="pageMode === 'create'" v-on:click="create">
                                                        创建
                                                    </button>
                                                    <button class="btn btn-primary btn-info" type="button"
                                                            v-on:click="showUserTable" v-if="pageMode === 'view'">
                                                        <i class="fa fa-arrow-left"></i> 返回列表
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                注意：操作密码不是登录密码
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" id=footerPlaceholder">
            <div th:include="/common :: footer" id="copyright"></div>
        </div>
    </div>

</div>

<div th:include="/common :: load_js(true, false, false)"></div>
<script src="/static/scripts/user.js"></script>
</body>
</html>
