<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:include="/common :: header('学生学分修改',true, false)"></head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/common :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/common :: navbar" class="sidebar-collapse"></div>

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                先锋教务管理
                <small>学生学分修改</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index">主页</a></li>
                <li><a href="#">教务管理</a></li>
                <li class="active">学生学分修改</li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            学生列表
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="studentTable"></table>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <div id="editCredits" class="modal fade modalDiy" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md" role="document" id="creditPage">
                    <div class="panel panel-primary" style="background: rgba(255, 255, 255, 1);">
                        <div class="panel-heading">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">修改学分上限</h4>
                        </div>
                        <div class="panel-body">
                            <form id="editTranscriptForm" class="form-group" method="post" onsubmit="return false">
                                <div class="col-sm-3">
                                    <label class="col-sm-12 control-label">学生ID/姓名:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input value="" class="form-control" disabled v-model="student.studentId">
                                    <input value="" class="form-control" disabled v-model="sname">
                                </div>
                                <div class="col-sm-3" style="margin-top:10px;">
                                    <label for="credits" class="col-sm-12 control-label">*学分上限:</label>
                                </div>
                                <div class="col-sm-9" style="margin-top:10px;">
                                    <input id="credits" class="form-control" minlength="1" maxlength="2" required
                                           v-model="student.maxCredits"/>
                                </div>
                                <div class="col-sm-3" style="margin-top:10px;">
                                    <label for="tPassword" class="col-sm-12 control-label">*操作密码:</label>
                                </div>
                                <div class="col-sm-9" style="margin-top:10px;">
                                    <input type="password" id="tPassword" class="form-control" minlength="6"
                                           maxlength="16" checkOpPwd="true" required/>
                                </div>
                                <div class="col-sm-6" style="margin-top:10px;">
                                    <button id="confirm" style="width: 100%" class="btn btn-danger btn-primary"
                                            v-on:click="doUpdate">更新
                                    </button>
                                </div>
                                <div class="col-sm-6" style="margin-top:10px;">
                                    <button id="cancel" style="width: 100%" class="btn btn-info btn-primary"
                                            data-dismiss="modal" aria-label="Close">取消
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. PAGE INNER  -->
        <div class="panel-footer" id=footerPlaceholder">
            <div th:include="/common :: footer" id="copyright"></div>
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/common :: load_js(true , false, false)"></div>
<script src="/static/scripts/credit.js"></script>
</body>
</html>
