<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
>

<head th:include="/common :: header('新课程申请管理',true, false)"></head>
<body>
<div id="wrapper">
    <!--/. NAV TOP  -->
    <div th:include="/common :: navtop" class="sidebar-collapse"></div>

    <!-- /. NAV SIDE  -->
    <div th:include="/common :: navbar" class="sidebar-collapse"></div>
    <div id="page-wrapper">
        <div id="courseRequestPage">
            <div class="header" v-if="pageMode === 'manage'">
                <h1 class="page-header">
                    先锋教务管理
                    <small>新课程申请管理</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index">主页</a></li>
                    <li><a href="#">教务管理</a></li>
                    <li class="active">新课程申请管理</li>
                </ol>
            </div>
            <div class="header" v-if="pageMode ==='faculty'">
                <h1 class="page-header">
                    先锋课程系统
                    <small>新课程申请查看</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index">主页</a></li>
                    <li><a href="#">课程系统</a></li>
                    <li class="active">新课程申请查看</li>
                </ol>
            </div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                新课程申请列表
                            </div>
                            <div class="panel-body">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                分类查看
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="col-sm-3">
                                                    <button v-on:click="showGeneral" id="showGeneral"
                                                            style="width: 100%"
                                                            class="btn btn-primary btn-warning">
                                                        查看所有申请
                                                    </button>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button v-on:click="showActive" id="showActive" style="width: 100%"
                                                            class="btn btn-primary">
                                                        只查看申请中
                                                    </button>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button v-on:click="showApproved" id="showApproved"
                                                            style="width: 100%" class="btn btn-primary btn-success">
                                                        只查看已批准
                                                    </button>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button v-on:click="showDeclined" id="showDeclined"
                                                            style="width: 100%" class="btn btn-primary btn-danger">
                                                        只查看已拒绝
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            申请列表
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-bordered table-hover"
                                               id="tempCourseTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer" id=footerPlaceholder">
                <div th:include="/common :: footer" id="copyright"></div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<div th:include="/common :: load_js(true , false, false)"></div>
<script>
    let status = "";

    let requestVue = new Vue({
        el: '#courseRequestPage',
        data: {
            pageMode: location.search.split("&")[0].split("=")[1]
        },
        methods: {
            showGeneral: function () {
                status = "";
                tempCourseTable.draw();
            },
            showActive: function () {
                status = "0";
                tempCourseTable.draw();
            },
            showDeclined: function () {
                status = "-1";
                tempCourseTable.draw();
            },
            showApproved: function () {
                status = "1";
                tempCourseTable.draw();
            },
        }
    });

    function deleteTempCourse(id) {
        Showbo.Msg.confirm("确认删除该申请？", function () {
            if ($(".btnfocus").val() !== "取消") {
                /*删除操作*/
                axios.delete('/request/course/' + id).then(function (response) {
                    if (response.data.code === 2001)
                        Showbo.Msg.alert("删除成功!", function () {
                            tempCourseTable.draw();
                        });
                    else
                        Showbo.Msg.alert(response.data.msg, function () {
                        });
                });
            }
        });
    }

    function detail(id) {
        if (requestVue.$data.pageMode === 'faculty')
            window.location.href = "/course/create?mode=request&id=" + id;
        else if (requestVue.$data.pageMode === 'manage')
            window.location.href = "/teach/create?mode=create&id=" + id;
    }

    let tempCourseTable = $("#tempCourseTable").DataTable({

        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "没有数据！",
            "info": "显示 _START_ 至 _END_ 条 ，总共_TOTAL_ 条数据",
            "infoEmpty": "没有发现记录！",
            "infoFiltered": "(从_MAX_条记录中搜索)",
            "lengthMenu": "显示: _MENU_",
            "search": "搜索:",
            "zeroRecords": "没有找到匹配的记录！",
            "paginate": {
                "previous": "上一页",
                "next": "下一页",
                "last": "尾页",
                "first": "首页"
            }
        },
        "pagingType": "full_numbers",
        "lengthMenu": [
            [5, 10, 15, 20],
            [5, 10, 15, 20]
        ],
        pageLength: 10,
        processing: true,
        serverSide: true,

        ajax: {
            url: basePath + "/request/course",
            data: function (d) {
                d.viewStatus = status;
                d.mode = requestVue.$data.pageMode;
            }
        },
        columns: [
            {
                "data": null, "title": "行号", "render": function (data, type, row, meta) {
                    return meta.settings._iDisplayStart + meta.row + 1;
                }
            },
            {"data": "id", "title": "序列号", "width": "100px"},
            {"data": "crn", "title": "临时课程编码"},
            {
                "data": "courseJson", "title": "课程名", "createdCell": function (nTd, rowData) {
                    let course = JSON.parse(rowData);
                    $(nTd).html(course.name);
                }
            },
            {"data": "facultyId", "title": "申请人ID"},
            {"data": "createTime", "title": "申请时间"},
            {
                "data": "status", "title": "申请状态", "createdCell": function (nTd, rowData) {
                    if (rowData === "0") $(nTd).html('<p style="line-height: 1.42857143; padding-top: 0; color:blue; ">申请中</p>');
                    else if (rowData === "1") $(nTd).html('<p style="line-height: 1.42857143; padding-top: 0;color:green; ">已批准</p>');
                    else if (rowData === "-1") $(nTd).html('<p style="line-height: 1.42857143; padding-top: 0;color:red; ">已拒绝</p>');
                }
            },
            {
                "data": null, "title": "操作", "createdCell": function (nTd, rowData) {
                    $(nTd).html('<button class="btn btn-warning col-xs-6" onclick="detail(\'' + rowData.id + '\')">查看</button>' +
                        '<button class="btn btn-danger col-xs-6" onclick="deleteTempCourse(\'' + rowData.id + '\')">删除</button>');
                }, "width": "180px"
            }
        ],
        "columnDefs": [{
            orderable: false,
            targets: [1, 3, 5]
        }, {
            "defaultContent": "",
            "targets": "_all"
        }]
    });

</script>
</body>
</html>
